<a href="cluster/<%=cluster.uuid%>" class="cluster">
    <span class="panel-icon"><i class="fa fa-sort" aria-hidden="true"></i></span>
    <span class="panel-text">
        <%= cluster.name %></span>
    <span class="panel-subtext"> created on <%= cluster.created_on.strftime("%Y-%m-%d %H:%M:%S")%></span>
</a>
