<div class="counter-view">
    <div class="row">
    <%= c("counter-up-btn") %>
    </div>
    <div class="row count">
        <%= c("counter-count", cluster: @cluster) %>
    </div>
    <div class="row">
    <%= c("counter-down-btn") %>
    </div>
</div>
